[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"

[packages]
pytest = "*"
pytest-cov = "*"
flit = "*"
pytest-django = "*"
importlib-metadata = "*"
pytest-xdist = "*"

[requires]
python_version = "3"
